# Next.js
.next/
out/

# Dependencies
node_modules/

# Environment variables
.env*.local
.env

# Local data & logs
.data/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS Files
.DS_Store
*.pem
